/* Fonts that doesn't suck */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
  font-family: retroFont;
  src: url("../fonts/Press_Start_2P/PressStart2P-Regular.ttf");
}

/* Remove default padding and margin from all elements */
*,
::before,
::after{
  padding: 0px;
  margin: 0px;
}

:root{
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: white;
  
  /* Custom Properties */
  --bground-img-width: 667px;
}

body{
  display: flex;
}

/*  */
/* Left Side */
/*  */
.lframe{
  position: relative;
  height: 100vh;
  width: max(40vw);
  background-image: url("../images/PersonTorch_LinusSandvide.jpg");
  background-repeat: no-repeat;
}

.lframe-banner{
  position: absolute;
  height: 100px;
  width: var(--bground-img-width);
  top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lframe-banner-text{
  color: white;
  font-weight:700;
  font-size: 25px;
  font-family: retroFont;
  letter-spacing: 0.5em;
}


.lframe-footer{
  position: absolute;
  height: 50px;
  width: var(--bground-img-width);
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lframe-footer-text{
  color: white;
  opacity: .75;
}

.lframe-footer-text a{
  color: rgb(231, 182, 133);
}



/*  */
/* Right Side */
/*  */
.rframe{
  position: relative;
  background-image: url("../accessory/CungeonDrawler/darkSand2.png");
  background-repeat: repeat;
}


.rframe-box{
  border-top: 1px solid black;
  height: 33.3vh;
  width: 63vw;
  padding: 0 20px 0 20px;
}

.rframe .rframe-box:nth-child(1){
  display: flex;
  justify-content: center;
  align-items: center;
}

.rframe-box2-lr{
  display: flex;
  height: 80%;
  align-items: center;
  gap: 30px;
}

.rframe-box2-left, .rframe-box2-right{
  display: flex;
  flex-direction: column;
  gap: 20px;
}



/*  */
/* Temp */
/*  */
.knight{
  height: 150px;
  width: auto;
}

.ui-border{
  position: absolute;
  bottom: 0;
  /* left: -5px; */
  height: 100%;
  width: 100%;
}

